.test-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .test-problem {
    font-weight: bolder;
    padding: 10%;
    border-radius: 10px;
    font-size: large;
    background-color: whitesmoke;
  }
}
