body {
  margin: 0;
  font-family: "Balsamiq Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

h1 {
  font-size: 4vw;
}
h2 {
  font-size: 3vw;
}
h3 {
  font-size: 2vw;
}
h4 {
  font-size: 1vw;
}

p {
  font-size: 2vmin;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(36, 164, 236, 1);
}