@import "../../styles/color";

.pageHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
  background-color: white;
  margin-bottom: 16px;

  .mainContent {
    min-height: 300px;
    max-height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;

    .backgroundImage {
      width: 100%;
    }

    .noImg {
      width: 100vw;
      height: 100vh;
      background-color: $color-default;
    }

    .title {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: 1;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 1%;
      border-radius: 10px;
      max-width: 70vw;
    }
  }

  .description {
    width: 60%;
    padding: 20px 0px;

    * {
      text-align: center;
    }
  }
}