.menuBar {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.514);
  position: fixed;
  z-index: 1000;
  width: 100vw;
  box-shadow: 0px 3px 16px rgba(36, 164, 236, 1);

  .menuBarSearch {
    margin-left: auto;

    .menuBarSearchInput {
      margin: 5% 0%;

      .ant-input-wrapper * {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;

        .ant-btn {
          border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        }
      }
    }
  }
}
